# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Runtime / Generated Data
# =========================
logs/
*.log

db/results.csv
template/*/php/info.txt
template/*/php/result.txt
*.kml

# =========================
# Temporary / Backup Files
# =========================
*.bak
*.tmp
*.swp

# =========================
# Tunnels / External Tools
# =========================
ngrok*
cloudflared*

# =========================
# Virtual Environments
# =========================
.venv/
venv/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors / IDEs
# =========================
.vscode/
.idea/
